body {
    background-color: white;
    overflow: hidden;
    font-family: "Lucida Console", "Courier New", monospace;
}

fieldset {
    width: 90%;
}

.item {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

#stop {
    display: none;
}

#delayPreview .item {
    margin-bottom: 0.5rem;
}

label {
    display: inline;
}

input[type=checkbox] {
    display: inline;
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
}

#canvas {
    border: 1px solid black;
    border-radius: 5px;
    background-color: black ;
}

.adjustment {
    position:relative;
    left: 0;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    height: 100%;
}

.display {
    margin-left: 1rem;
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
}

#state {
    margin-left: 1rem;
    display: flex;
}

#features {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

#previewPos {
    right: 0;
    bottom: 0;
    position: absolute;
    margin-top: auto;
    display: none;
}

#state-display {
    margin-left: 1ex;
}

#state-display:hover {
    text-decoration: underline;
    color: purple;
    cursor: pointer;
}

.editPosition {
    text-decoration: underline;
    fontsize: 50%;
    color: #75807a;
    margin-top: 1rem;
}

.editPosition:hover {
    text-decoration: underline;
    fontsize: 50%;
    color: #231c24;
    cursor: pointer;
    font-style: italic;
}

.showPosition {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.showPosition span {
    display: inline-block;
    margin-left: 1ex;
    margin-bottom: 0;
}

#edit {
    display: flex;
    flex-direction: column; 
}

#view {
    display: flex;
    flex-direction: column; 
}

.slider {
    margin-left: 1rem;
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    background-color: #2a6592;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--thumb-color);
    cursor: var(--thumb-cursor);
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--thumb-color);
    cursor: var(--thumb-cursor);
}